frountend/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50468/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50468/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50468/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ST1_Backend" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_getProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductsByType_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductsByType" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductsByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductById" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_editProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:editProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_editProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:editProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertNewProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertNewProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserLogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogIn" />
  </wsdl:message>
  <wsdl:message name="IService1_UserLogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLogInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeUserRole_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserRole" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangeUserRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInvoices" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInvoice" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInvoiceById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInvoiceById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:getReviews" />
  </wsdl:message>
  <wsdl:message name="IService1_getReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:addReviews" />
  </wsdl:message>
  <wsdl:message name="IService1_addReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:addReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateQuntity_InputMessage">
    <wsdl:part name="parameters" element="tns:updateQuntity" />
  </wsdl:message>
  <wsdl:message name="IService1_updateQuntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateQuntityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getCartQuntityfrom_InputMessage">
    <wsdl:part name="parameters" element="tns:getCartQuntityfrom" />
  </wsdl:message>
  <wsdl:message name="IService1_getCartQuntityfrom_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCartQuntityfromResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addProdToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:addProdToCart" />
  </wsdl:message>
  <wsdl:message name="IService1_addProdToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProdToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:removeFromCart" />
  </wsdl:message>
  <wsdl:message name="IService1_removeFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getCartProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getCartProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_getCartProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCartProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProducts" message="tns:IService1_getProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProductsResponse" message="tns:IService1_getProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductsByType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProductsByType" message="tns:IService1_getProductsByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProductsByTypeResponse" message="tns:IService1_getProductsByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProductById" message="tns:IService1_getProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProductByIdResponse" message="tns:IService1_getProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/editProduct" message="tns:IService1_editProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/editProductResponse" message="tns:IService1_editProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertNewProduct" message="tns:IService1_InsertNewProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertNewProductResponse" message="tns:IService1_InsertNewProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteProduct" message="tns:IService1_deleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteProductResponse" message="tns:IService1_deleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserLogIn" message="tns:IService1_UserLogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserLogInResponse" message="tns:IService1_UserLogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllUsers" message="tns:IService1_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllUsersResponse" message="tns:IService1_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUser" message="tns:IService1_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserResponse" message="tns:IService1_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangeUserRole" message="tns:IService1_ChangeUserRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangeUserRoleResponse" message="tns:IService1_ChangeUserRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserInvoices" message="tns:IService1_GetUserInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserInvoicesResponse" message="tns:IService1_GetUserInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteInvoice" message="tns:IService1_DeleteInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteInvoiceResponse" message="tns:IService1_DeleteInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInvoiceById" message="tns:IService1_GetInvoiceById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInvoiceByIdResponse" message="tns:IService1_GetInvoiceById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerUser" message="tns:IService1_registerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerUserResponse" message="tns:IService1_registerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReviews" message="tns:IService1_getReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReviewsResponse" message="tns:IService1_getReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addReviews" message="tns:IService1_addReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addReviewsResponse" message="tns:IService1_addReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateQuntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateQuntity" message="tns:IService1_updateQuntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateQuntityResponse" message="tns:IService1_updateQuntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCartQuntityfrom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCartQuntityfrom" message="tns:IService1_getCartQuntityfrom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCartQuntityfromResponse" message="tns:IService1_getCartQuntityfrom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProdToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addProdToCart" message="tns:IService1_addProdToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addProdToCartResponse" message="tns:IService1_addProdToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/removeFromCart" message="tns:IService1_removeFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/removeFromCartResponse" message="tns:IService1_removeFromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCartProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCartProducts" message="tns:IService1_getCartProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCartProductsResponse" message="tns:IService1_getCartProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/getProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductsByType">
      <soap:operation soapAction="http://tempuri.org/IService1/getProductsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductById">
      <soap:operation soapAction="http://tempuri.org/IService1/getProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/editProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertNewProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogIn">
      <soap:operation soapAction="http://tempuri.org/IService1/UserLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserRole">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangeUserRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInvoices">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInvoice">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInvoiceById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/IService1/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReviews">
      <soap:operation soapAction="http://tempuri.org/IService1/getReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReviews">
      <soap:operation soapAction="http://tempuri.org/IService1/addReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateQuntity">
      <soap:operation soapAction="http://tempuri.org/IService1/updateQuntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCartQuntityfrom">
      <soap:operation soapAction="http://tempuri.org/IService1/getCartQuntityfrom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProdToCart">
      <soap:operation soapAction="http://tempuri.org/IService1/addProdToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeFromCart">
      <soap:operation soapAction="http://tempuri.org/IService1/removeFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCartProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/getCartProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50468/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>